body, html {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 12vh;
}
.footer {
  text-align: center;
}
.origin {
  animation-duration: 0;
}
.box-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 50%;
  height: 50%;
}
.box {  
  display: inline-block;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-shadow: 1px 2px 5px #888888;
  background-color: darkcyan;
  cursor: pointer;
  animation: fade .5s ease-out;
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

